@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none4;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  line-height: none;
}

img {
  vertical-align: top;
}

h1, h2, h2, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

li {
  list-style-type: none;
}


body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}
.wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1057px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {

}

.header {
position: absolute;
width: 100%;
top: 0;
line-height: 0;
z-index: 50;
}
.header__container {
 display: flex;
 min-height: 114px;
 align-items: center;
}
.header__logo {

}
.header__menu {
 flex:  1 1 auto;
}
.menu {
display: flex;
justify-content: flex-end;
padding: 0 40px 0 0;
}
.menu__list {
display: flex;
gap: 40px;
}
@media (max-width: 991.98px){
  .menu__list{
    gap: 30px;
  }
}
.menu__item {

}
.menu__link {
font-family: 'Raleway';
font-weight: 700;
font-size: 10px;
line-height: 1.2;
letter-spacing: 1px;

color: #000000;
}
.header__button {
flex: 0 0 252px;
display: flex;
justify-content: flex-end;
}
@media (max-width: 991.98px){
.header__button{
  flex: 0 0 170px;
}
}

.button {
  display: inline-block;
font-family: 'Raleway';
text-transform: uppercase;
font-weight: 800;
font-size: 10px;
line-height: 1.2;
letter-spacing: 1px;
padding: 13px 30px;
color: #FCFDFE;
background: #EC5863;
border-radius: 5px;
transition: background-color 0.3s ease 0s;

}
.button:hover{
  background: #EC5846;
}
.button_blue {
background: #4285F4;
}
.button_blue:hover {
  background: #428599;

}

@media (max-width: 991.98px){
 .header__container {
  min-height: 80px;
 }
}


/*===========================================================================================*/
.block-text {
  display: flex;
  flex-wrap: wrap;
}
.block-text__title {
  margin-bottom: 12px;
font-weight: 700;
font-size: 44px;
line-height: 126%;
color: #000000;

}
.block-text__title_blue {}
.block-text__title_blue span{
  color: #4285F4;
}

}
.block-text__text {
    margin-bottom: 24px;
font-weight: 400;
font-size: 12px;
line-height: 138.5%;
letter-spacing: 0.08em;
color: #616161;
}
.block-text__button {
  display: flex;
  align-items: center;
  font-family: 'Raleway';
font-weight: 800;
font-size: 10px;
line-height: 12px;
letter-spacing: 0.14em;
color: #FCFDFE;
}
/*===========================================================================================*/
.main {}
.get-started {
    background: #FAFBFD;
    margin-bottom: 36px ;

}
.get-started__container {
      padding: 150px 15px 50px 15px;
  display: flex;
  flex-wrap: wrap;
    align-items: center;
    position: relative;

}
.get-started__container:before {
  content: "";
  position: absolute;
  right: 267px;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #EC5863;
  border-radius: 30px 0 0 30px;
  transform: translate(100%, 0);
}
@media (max-width: 991.98px){
  .get-started__container:before{
  right: 185px;
}
}
@media (max-width: 767.98px){
  .get-started__container:before{
 display: none;
}
}
.get-started__content {
  flex: 0 1 48%;
  padding-left: 20px;
  padding: 0 20px;
}
.get-started__block-text {
  max-width: 410px;
}

.get-started__image {
  flex: 0 1 52%;
  position: relative;
  z-index: 2;
}
.get-started__image img{
  max-width: 100%;
}
.get-started__video {
  padding-left: 20px;
  flex: 1 1 100%;
  padding-top: 60px;
}
.video-get-started {
max-width: 24%;

display: inline-flex;
align-items: center;

}
.video-get-started__icon {
  flex: 0 0 44px;
}
.video-get-started__body {
  margin-left: 12px;
}
.video-get-started__title {
  margin-bottom: 5px;
font-weight: 400;
font-size: 13px;
line-height: 126%;
letter-spacing: 0.08em;
color: #B0B0B0;
}
.video-get-started__text {
font-weight: 400;
font-size: 9px;
line-height: 126%;
letter-spacing: 0.165em;
text-transform: uppercase;
color: #000000;

}

@media (max-width: 1087px){
  [class*="__container"] {
  max-width: 970px;

}
}
@media (max-width: 991.98px){
  [class*="__container"] {
  max-width: 750px;

}
}
@media (max-width: 767.98px){
  [class*="__container"] {
  max-width: 100%;
}

.get-started__block-text{
  max-width: none;
}
.get-started__content{
  flex: 1 1 100%;
  padding: 0;
}
.get-started__image{
  flex: 1 1 100%;
  text-align: center;
  padding: 30px 0;
}
.get-started__video{
  padding: 0;
}
}


/*=================================================*/


.features {
  background: #FFFFFF;
  margin-bottom: 70px;
}
.features__container {
  display: flex;
    align-items: center;
}
.features__content {
  flex: 1 1 50%;
  padding: 0 160px 0 20px;

}
.features___block-text {}
.block-text {}
.block-text__title {}
.block-text__title_pink span{
  color: #EC5863;
}
.block-text__text {
font-weight: 400;
font-size: 12px;
line-height: 138.5%;
letter-spacing: 0.08em;
color: #616161;
margin-bottom: 24px;
}
.block-text__button {}
.button {}
.features__image {
  flex: 1 1 50%;

}
@media (min-width: 991.98px){
  .features__image {
     padding-left: 48px;
  }

}
/*===================================================================*/
.experts {
  background-color: #FAFBFD;
  padding: 103px 0 116px 0;
}
.experts__contaiter {}
.experts__statistics {

}
.statistics-expert {
  max-width: 655px;
  margin: 0 auto ;

  position: relative;

}
.statistics-expert__body {
  position: relative;
  z-index: 2;
    background-color: #fff;
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
   margin-bottom: 80px;

}
.statistics-expert__decor {
  position: absolute;
  background-color: #ec5863;
  border-radius: 30px;
}
.statistics-expert__decor_1 {
  height: 65px;
  width: 65px;
  transform: rotate(-30deg);
  bottom: -21px;
  left:  -21px;
    border-radius: 16px;

}
.statistics-expert__decor_2 {
 height: 96px;
 width: 96px;
background: #EC5863;
border-radius: 30px;
transform: rotate(105deg);
right: 50%;
top: -40px;
}
.statistics-expert__decor_3 {
  width: 127.47px;
height: 127.47px;
right: -50px;
top: 0px;
background: #EC5863;
border-radius: 30px;
transform: rotate(-30deg);
}


.body-statistics-expert {
  padding: 20px 80px;
  display: flex;
  align-items: center;
    padding: 30px 0 30px 0;


}
.body-statistics-expert__item {
  flex: 0 1 25%;
  text-align: center;
}
.body-statistics-expert__item:last-child{
  flex: 0 1 50%;
}
.body-statistics-expert__value {
  font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.14em;


color: #EC5863;

}
.body-statistics-expert__text {
  font-weight: 700;
font-size: 11px;
line-height: 1.2;
letter-spacing: 0.37em;
text-transform: uppercase;
color: #000000;
}
.experts___block-text{
  max-width: 400px;
}

.experts__video{
padding-bottom: 30%;
  flex: 0 1 50%;
position: relative;

}
.experts__video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0  ;
  left: 0;
  object-fit: cover;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
border-radius: 8px;
}
.experts__body{
  display: flex;
  align-items: center;
}
.experts__content{
  flex: 0 1 50%;
  padding: 0 20px 0 0;
}

.experts__contaiter{
  max-width: 1057px;
  margin: 0 auto;
  padding: 0 30px;

}
@media (max-width: 767.98px){
  .experts__body{
    flex-direction: column;
    align-items: stretch;
  }
  .experts__video{
    padding-bottom: 58%;

  }
  .experts__content{
    margin-bottom: 30px;
  }
}

@media (max-width: 469.98px){
  .statistics-expert__body{
    flex-direction: column;
  }
}

/*==================================================================*/

.healthcare {
  margin-bottom: 50px;
}
.healthcare__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.healthcare__name {
  flex: 1 1 auto;
text-align: center;
display: flex;
  padding: 80px 145px 45px 145px;
  align-items: center;




}
.healthcare___block-text {
}
.block-text {}
.block-text__title {
    flex: 1 1 100%;
}
.block-text__title_pink {}
.block-text__text {
  flex: 1 1 100%;
}
.healthcare__body {

}
.body-healthcare {
  



  
}
.body-healthcare__items{
  display: flex;

}

.body-healthcare__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  margin-right: 72px;





}

.body-healthcare__item:last-child{
  margin-right: 0px;
}
.body-healthcare__item_1 {


}
.body-healthcare__image {
  margin-bottom: 58px;
  padding: 36px 107px 0 107px;
}
.body-healthcare__title {
  font-weight: 700;
font-size: 16px;
line-height: 138.5%;
text-align: center;
letter-spacing: 0.08em;
font-family: 'Rubik';
color: #000000;
  margin-bottom: 15px;

}
.body-healthcare__text {
font-weight: 400;
font-size: 12px;
line-height: 138.5%;
text-align: center;
letter-spacing: 0.08em;
color: #616161;
margin-bottom: 40px;
}
.body-healthcare__item_2 {}
.body-healthcare__item_3 {}
/*.body-healthcare__decor {
  background: #EC5863;
   position: absolute;

}
.body-healthcare__decor_1 {
 
  width: 65.75px;
height: 65.75px;

border-radius: 16px;
transform: rotate(-30deg);
left: -15px;
bottom: -30px;



}
.body-healthcare__decor_2 {}
.body-healthcare__decor_3 {}
.body-healthcare__decor_4 {}
*/
.body-healthcare__column{
      position: relative;
   z-index: 44;
}
.body-healthcare__column_1{

}
.body-healthcare__column_1:before{
  content: "";
      width: 65.75px;
height: 65.75px;
z-index: 1;
border-radius: 16px;
transform: rotate(-30deg);
left: -15px;
bottom: -30px;
  background: #EC5863;
   position: absolute;
}
